
body {
    font-family: Verdana,sans-serif;
    font-size: 120%;
    line-height: 1.4;
    color: black;
    background-color: white;
    font-weight: normal;
}

header {
    background-color: black;
    text-align: center;
}

header img {
    padding: 10px;
    max-height: 160px;
}

a {
    text-decoration: none;

}

h1 {
    font-family:Georgia,sans-serif;
    color: yellow;
    font-size: 4em;
    line-height: 0.9;
}

h2{
    font-family:Georgia,sans-serif;
    color: yellow;
    font-size: 2em;
    line-height: 0.9;
    margin: 60px 0 20px 0;
}
main {
}